@font-face {
  font-family: aeonik;
  src: url(./fonts/AeonikTRIAL-Light.otf);
  font-weight: 200;
}
@font-face {
  font-family: aeonik;
  src: url(./fonts/AeonikTRIAL-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: aeonik;
  src: url(./fonts/AeonikTRIAL-Regular.otf);
  font-weight: 500;
}
:root {
  --pri: #e2e2b6;
  --sec: #021526;
  --ter1: #03346e;
  --ter2: #6eacda;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  background-color: var(--sec);
  width: 100%;
  height: 100%;
}

.allElems {
  height: 100%;
  width: 100%;
  padding: 35px;
  padding-top: 50px;
  background-color: var(--sec);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  overflow: auto;
  position: absolute;
}

.elem {
  background-color: var(--ter2);
  border-radius: 25px;
  height: 320px;
  width: 270px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.3s;
  cursor: pointer;
}

.elem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.elem h2 {
  position: absolute;
  right: 5%;
  bottom: 4%;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.elem:active {
  scale: 0.95;
}

.fullElem {
  width: 100%;
  height: 100%;
  background-color: var(--sec);
  padding: 40px;
  font-size: 25px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

.back {
  position: absolute;
  right: 3%;
  font-size: 20px;
  cursor: pointer;
  padding: 11px 13px;
  border: none;
  border-radius: 50%;
  font-weight: 700;
  background-color: var(--pri);
  transition: all ease 0.2s;
}

.back:active {
  scale: 0.9;
}

.todo-fullpage h2 {
  color: var(--pri);
  font-size: 60px;
}
.todo-fullpage .todo-container {
  width: 100%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-fullpage .todo-container .addTask {
  width: 36%;
  height: 100%;
  background-color: var(--ter2);
  border-radius: 15px;
}
.todo-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
}
.todo-fullpage .todo-container .addTask form input[type=text] {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 25px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  background-color: var(--pri);
  outline: none;
}
.todo-fullpage .todo-container .addTask form input[type=text]::-moz-placeholder {
  color: var(--sec);
}
.todo-fullpage .todo-container .addTask form input[type=text]::placeholder {
  color: var(--sec);
}
.todo-fullpage .todo-container .addTask form textarea {
  width: 100%;
  height: 234px;
  margin-bottom: 15px;
  padding: 15px 25px;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  background-color: var(--pri);
  outline: none;
}
.todo-fullpage .todo-container .addTask form textarea::-moz-placeholder {
  color: var(--sec);
}
.todo-fullpage .todo-container .addTask form textarea::placeholder {
  color: var(--sec);
}
.todo-fullpage .todo-container .addTask form .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px 0;
}
.todo-fullpage .todo-container .addTask form .mark-imp input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
}
.todo-fullpage .todo-container .addTask form .mark-imp label {
  font-size: 18px;
  color: var(--sec);
  font-weight: 500;
  cursor: pointer;
}
.todo-fullpage .todo-container .addTask form button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: var(--sec);
  color: var(--pri);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all ease 0.2s;
}
.todo-fullpage .todo-container .addTask form button:active {
  scale: 0.95;
}
.todo-fullpage .todo-container .allTask {
  width: 62%;
  height: 100%;
  background-color: var(--ter1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  overflow: auto;
}
.todo-fullpage .todo-container .allTask::-webkit-scrollbar {
  width: 6px; /* thin bar */
}
.todo-fullpage .todo-container .allTask::-webkit-scrollbar-track {
  background: transparent; /* invisible track */
}
.todo-fullpage .todo-container .allTask::-webkit-scrollbar-thumb {
  background-color: var(--ter2); /* light blue thumb */
  border-radius: 20px; /* rounded pill shape */
}
.todo-fullpage .todo-container .allTask::-webkit-scrollbar-thumb:hover {
  background-color: var(--pri); /* cream color on hover */
}
.todo-fullpage .todo-container .allTask .task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px 20px;
  background-color: var(--ter2);
  border-radius: 8px;
}
.todo-fullpage .todo-container .allTask .task h5 {
  font-size: 22px;
  color: var(--sec);
  font-weight: 500;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.todo-fullpage .todo-container .allTask .task h5 span {
  background-color: rgb(193, 58, 58);
  padding: 3px 6px;
  border-radius: 5px;
  color: white;
  font-size: 13px;
  font-weight: 500;
}
.todo-fullpage .todo-container .allTask .task h5 span.true {
  opacity: 1;
}
.todo-fullpage .todo-container .allTask .task h5 span.false {
  opacity: 0;
}
.todo-fullpage .todo-container .allTask .task button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background-color: var(--sec);
  color: var(--pri);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.2s;
}
.todo-fullpage .todo-container .allTask .task button:active {
  scale: 0.95;
}

.daily-fullpage h2 {
  color: var(--pri);
  font-size: 55px;
}
.daily-fullpage {
  overflow: hidden;
}
.daily-fullpage .day-planner {
  background-color: var(--ter1);
  height: 85%;
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}
.daily-fullpage .day-planner::-webkit-scrollbar {
  width: 9px; /* thin bar */
}
.daily-fullpage .day-planner::-webkit-scrollbar-track {
  background: transparent; /* invisible track */
}
.daily-fullpage .day-planner::-webkit-scrollbar-thumb {
  background-color: var(--ter2); /* light blue thumb */
  border-radius: 20px; /* rounded pill shape */
}
.daily-fullpage .day-planner::-webkit-scrollbar-thumb:hover {
  background-color: var(--pri); /* cream color on hover */
}
.daily-fullpage .day-planner .day-planner-time {
  padding: 18px 20px;
  position: relative;
  width: 49%;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.daily-fullpage .day-planner .day-planner-time p {
  position: absolute;
  top: 17%;
  left: 5%;
  color: var(--pri);
  font-size: 16px;
  font-weight: 500;
}
.daily-fullpage .day-planner .day-planner-time input[type=text] {
  width: 100%;
  padding: 25px 45px;
  border-radius: 8px;
  border: none;
  font-size: 21px;
  font-weight: 400;
  word-spacing: 3px;
  background-color: var(--sec);
  color: var(--pri);
  outline: none;
}
.daily-fullpage .day-planner .day-planner-time input[type=text]::-moz-placeholder {
  color: var(--pri);
}
.daily-fullpage .day-planner .day-planner-time input[type=text]::placeholder {
  color: var(--pri);
}

.moti-fullpage {
  position: relative;
}
.moti-fullpage .motivation-fullpage-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moti-fullpage .motivation-container {
  height: 450px;
  width: 50%;
  border-radius: 50px;
  position: relative;
}
.moti-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--pri);
  border-radius: 50px;
  scale: 1.09;
  z-index: 8;
  filter: blur(100px);
}
.moti-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--pri);
  border-radius: 40px;
  padding: 17px;
  border: 2px solid var(--sec);
}
.moti-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  top: 3%;
  right: 5%;
  opacity: 0.5;
  height: 85px;
}
.moti-fullpage .motivation-container .motivation-wrapper .motivation-1 {
  background-color: var(--sec);
  padding: 15px 23px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
}
.moti-fullpage .motivation-container .motivation-wrapper .motivation-1 h2 {
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: var(--ter2);
  font-size: 25px;
  font-weight: 500;
  color: var(--ter2);
  word-spacing: 3px;
}
.moti-fullpage .motivation-container .motivation-wrapper .motivation-3 {
  padding: 17px;
  border-radius: 25px;
  margin-top: 20px;
}
.moti-fullpage .motivation-container .motivation-wrapper .motivation-3 h2 {
  font-size: 23px;
  font-weight: 500;
  text-align: right;
  color: var(--sec);
  font-weight: 500;
}
.moti-fullpage .motivation-container .motivation-wrapper .motivation-2 {
  padding: 20px;
}
.moti-fullpage .motivation-container .motivation-wrapper .motivation-2 h1 {
  color: var(--sec);
  font-size: 33px;
  margin-bottom: 10px;
}

.pomo-fullpage {
  position: relative;
}
.pomo-fullpage h1 {
  color: var(--pri);
  font-size: 40px;
  margin-bottom: 20px;
}
.pomo-fullpage .session {
  color: var(--ter2);
  font-size: 25px;
  font-weight: 500;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  background-color: var(--ter1);
  padding: 8px 18px;
  border-radius: 8px;
}
.pomo-fullpage .pomo-timer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-fullpage .pomo-timer h1 {
  color: var(--pri);
  font-size: 170px;
  margin-bottom: 30px;
}
.pomo-fullpage .pomo-timer button {
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  background-color: var(--ter2);
  color: var(--sec);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 0.2s;
  margin: 0 10px;
  box-shadow: 3px 4px 10px rgba(74, 74, 74, 0.619);
}
.pomo-fullpage .pomo-timer button:active {
  scale: 0.9;
  box-shadow: 0px 0px 0px var(--pri);
}/*# sourceMappingURL=style.css.map */